<!DOCTYPE html>
<html lang="en">
<head>
  <title>DOMAIN REGISTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .masthead {
      height: 100vh;
      min-height: 500px;
      background-image: url('5.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top" style="background-color: #2c4554;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url('/') }}"><img src="2.png" width="54" height="41"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" style="font-size: 17px;">
            <a class="nav-link" href="{{ url('/') }}">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item" style="font-size: 17px;">
            <a class="nav-link" href="{{ url('/getstarted') }}">Getting started</a>
          </li>
          <li class="nav-item dropdown" style="font-size: 17px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >
              Domain
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url('/userregisdomain') }}">Domain register</a>
              <a class="dropdown-item" href="{{ url('/mydomain') }}">My domain</a>
            </div>
          </li>
          <li class="nav-item dropdown" style="font-size: 17px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >
              Quota
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url('/requestpermission') }}">Request quota</a>
              <a class="dropdown-item" href="{{ url('/requestpermissionsuccessful') }}">Sent box</a>
            </div>
          </li>
          <li class="nav-item" style="font-size: 17px;">
            <a class="nav-link" href="{{ url('/news') }}">Contact us</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" style="font-size: 17px;">
            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >
              <?php echo session('name'); ?>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              @foreach(Session::get('groups') as $groups)
                @if($groups =='/wot/administrator')
                  <a class="dropdown-item" href="{{ url('/adminmanagement') }}">Manage system data</a>
                @endif
              @endforeach
              <a class="dropdown-item" href="{{ url('/logout') }}">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-9 text-center">
          <br><br><br><br>
          
            <p class="h4 mb-4">Sign up</p>
              <div class="form-row mb-4">
                  <div class="col">
                    <!-- First name -->
                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Sub domain name">
                  </div>
                  <div class="col">
                    <!-- First name -->
                    <label>example<?php echo $admin_domain_select ?></label>
                  </div>
              </div>

              <!-- E-mail -->
               <div class="form-group">
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Description"></textarea>
                </div>

              <!-- Password -->
              <label>Subject</label>
              <select class="browser-default custom-select mb-4">
                  <option value="" disabled>Choose option</option>
                  <option value="1" selected>Feedback</option>
                  <option value="2">Report a bug</option>
                  <option value="3">Feature request</option>
                  <option value="4">Feature request</option>
              </select>

              <!-- Phone number -->
              <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
              <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                  Optional - for two step authentication
              </small>

              <!-- Newsletter -->
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                  <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
              </div>

              <!-- Sign up button -->
              <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>

              <!-- Social register -->
              <p>or sign up with:</p>

              <a type="button" class="light-blue-text mx-2">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a type="button" class="light-blue-text mx-2">
                  <i class="fab fa-twitter"></i>
              </a>
              <a type="button" class="light-blue-text mx-2">
                  <i class="fab fa-linkedin-in"></i>
              </a>
              <a type="button" class="light-blue-text mx-2">
                  <i class="fab fa-github"></i>
              </a>

              <hr>

              <!-- Terms of service -->
              <p>By clicking
                  <em>Sign up</em> you agree to our
                  <a href="" target="_blank">terms of service</a>

        </div>
        <div class="col-3 text-center">
          <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
          <p class="lead">A great starter layout for a landing page</p>
        </div>
      </div>
    </div>
  </header>   

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>



<!-- background and layout -->
<!-- https://startbootstrap.com/snippets/full-image-header/ -->
